# Puppet temporary files.
puppet/.*
puppet/modules/
puppet/Puppetfile.lock

# Vagrant temporary files.
.vagrant/

# Ignore Node modules.
express/node_modules/

# Mac
.DS_Store

# Locked gemfile
Gemfile.lock